.header_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 2vh 0;
    @media (max-width: 760px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    .logo_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header_btn_box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.header_social_box {
    display: flex;
    align-items: center;
    position: relative;
    left: -10px;
    @media (max-width: 760px) {
        display: none;
    } 
    a {
        display: block;
        margin-right: 10px;
        position: relative;
        svg {
            height: 30px;
            width: auto;
            transition: .3s;
            @media (max-width: 576px) {
                height: 28px;
            }
        }
        &:hover {
            .active-icon {
                opacity: 1;
                z-index: 9;
            }
            .disabled-icon {
                opacity: 0;
            }
        }
    }
    .active-icon {
        opacity: 0;
        position: absolute;
        left: 0;
        transition: .3s;
    }
    .disabled-icon {
        opacity: 1;
        transition: .3s;
    }
    a:nth-child(2) {
        margin-right: 15px;
    }
}


.header_btn_box {
    cursor: pointer;
    height: 35px;
    width: 35px;
    svg {
        height: 35px;
        width: 35px;
    }
}

.menu_header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header {
    position: relative;
    z-index: 99;
}

nav {
    position: absolute;
    background: #fff;
    right: 0;
    display: none;
    top: 45px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
    ul {
        padding: 10px 15px;
        li {
            min-width: 140px;
            padding: 3px 0;
            display: block;
            position: relative;
        }
        a {
            color: #4a4949;
            font: 1rem "Regular";
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .arrow_mob {
        height: 10px;
        cursor: pointer;
        width: 10px;
        position: absolute;
        right: 0;
        top: 9.5px;
        transform: rotate(180deg);
        &::after {
            content: '';
            background: url(../img/icon/arr.svg);
            background-size: 12px 12px;
            height: 12px;
            width: 12px;
            display: block;
        }
    }
    .sub-menu {
        display: none;
        padding: 5px 5px 0 5px;
        li {
            padding: 2px 0;
            min-width: 100%;
        }
        li:last-child {
            padding-bottom: 0;
        }
    }
}

